@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&display=swap");
@import url("other.css");

.test-transition-1 {
    transition: all var(--transition-base);
}

.test-transition-2 {
    transition: opacity 0.3s;
}

.test-transition-3 {
    transition: background-color 0.5s linear, transform 0.2s;
}

.test-transition-4 {
    transition: margin-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.test-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.test-filter-1 {
    filter: drop-shadow(0px 0px var(--br) white) drop-shadow(0px 0px var(--br) white);
}

.test-filter-2 {
    filter: blur(5px) brightness(1.2) contrast(0.8) grayscale(0.5) hue-rotate(90deg) invert(1) opacity(0.5) saturate(2) sepia(0.3);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
}